/* cards */
.data .dashCards {
    overflow-y: hidden;
    overflow-x: auto;
}

.dashCards{
    display: flex;
    justify-content: center;
}

.dashCards::-webkit-scrollbar {
    display: none;
}

.dashCards .dashLine {
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dashCards .dashCard {
    width: 330px;
    height: 375px;
    margin: 10px 20px;
    border-radius: 2px;
    border: 1px solid #06a3a8;
    padding: 10px;
    position: relative;
    color: rgb(42, 42, 42);
}
.dashCard th, .dashCard h3{
    color: #027375;    
}

.tecnicalEspecification{
    padding-left: 20px;
}

.tecnicalEspecification strong{
    font-weight: bold;
}

/* graficos */

.chartStatus {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    bottom: 5px;
}

.chartStatus>img {
    width: 100%;
}

.dashCard>table {
    height: 100px;
    overflow-y: scroll;
}

.dashCard>table>td,
.dashCard>table>th {
    height: 20px;
}
.dashDescription span{
    display: flex;
    justify-content: center;
}

#gerente{
    width: 360px;
    height: 380px;
}