.dashNotification{
    display: flex;
    width: fit-content;
}

.notificationCard{
    width: 300px;
    height: 150px;
    margin: 10px 20px;
    border-radius: 8px;
    box-shadow: 1px 1px rgba(75, 75, 75, 0.458);
    padding: 10px;
    position: relative;
    text-align: center;
    font-size: 0.8em;
}
.containerTextos{
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
}
.statusRed{
    background-color: rgb(231, 86, 86);
    color: white;
}

.statusYellow{
    background-color: rgb(231, 200, 86);
    color: white;
}

.statusGray{
    background-color: rgb(68, 68, 68);
    color: white;
}

.notificationCard> h3{
    font-weight: normal;
}

.notificationNumber{
    font-size: 2.9em;
}

.notificationNumber > img{
    width: 30px;
}

.upArrow{
    filter: hue-rotate(250deg);
    rotate: 180deg;
}
.porcentagem{
    width: 105px;
}
.dashNotification .notificationNumber{
    font-weight:700;
}

.subtextos{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    text-align: justify;

}

/* chart */

.dashContent{
    display: flex;
    justify-content: space-around;
}

.mainChart{
    width: 400px;
}

.dashboardScreen table{
    border: 1px solid black;
    width: 250px;
}

.dashboardScreen table th{
    background-color: rgba(0, 0, 0, 0.226);
    padding: 15px;
}

.dashboardScreen table td{
    padding: 15px;
}