

.container_paiVisao{
  width: 86%;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
    width: 27vw;
    margin-left:15vw;
}
h1{
    width: 26vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
   font-size: 1.3vw;
}
